<h1>Your Task List</h1>
	<article>
			<table> 
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Completed At</th>
				</tr>
					<% @tasks.each do |task| %>
						<tr>
							<td><%= link_to(task.title, show_path(task.id))%></td>
							<td><%= task.description%></td>
							<td><%= task.completed_at.strftime("%m/%d/%Y %H:%M") unless task.completed_at ==nil%></td>
							<td><%= button_to("delete", {action: "destroy", id: task.id}, method: :delete, data: {confirm:  "are you sure?"})%></td>
						</tr>
					<% end %>
			</table>
	</article>
	<section>
		<%= button_to("Add a New Task", {action: "new" }, method: :get)%>
	<section>
