

<h1><%= @my_task.title%></h1>

<table> 
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Completed At</th>
			<th>Done?</th>
		</tr>
		<tr>
			<td><%= @my_task.title%></td>
			<td><%= @my_task.description%></td>
			<td><%= @my_task.completed_at.strftime("%m/%d/%Y %H:%M") unless @my_task.completed_at ==nil %></td>
			<td><% if @my_task.completed?  %>
					&#9745
				<% else %>
					<%= button_to("mark completed", {action: "mark_complete", id: @my_task.id}, method: :patch)%>
							
				<% end %>
			</td>
		</tr>
</table>
<section>
	<%= button_to("delete", {action: "destroy", id: @my_task.id}, method: :delete, data: {confirm:  "are you sure?"})%>
</section>

